<h1>About DPL Store </h1>
<p>here has always been great resources available online for designers and developers, and I’ve been using these myself since I started making websites some twelve years ago – that’s the fantastic thing about the web community. Now I’m using Subtle Patterns as my way of giving back to the next (and current) generation of web designers and developers or anyone else who needs some high quality patterns.</P>

<p>  here has always been great resources available online for designers and developers, and I’ve been using these myself since I started making websites some twelve years ago – that’s the fantastic thing about the web community. Now I’m using Subtle Patterns as my way of giving back to the next (and current) generation of web designers and developers or anyone else who needs some high quality patterns.
</p>
